<!DOCTYPE html>
<html lang="span">
	<head>
		<meta charset="UTF-8">
		<title>The Offenders</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
        <h1>Suspects</h1>


        <form method="post">
            <input
              id="person_ID_input"
              type="text"
              name="person_ID"
              placeholder="person_ID" /><input
              id="address_input"
              type="text"
              name="address"
              placeholder="address" /><input
              id="fName_input"
              type="text"
              name="fName"
              placeholder="fName" /><input
              id="lName_input"
              type="text"
              name="lName"
              placeholder="lName" /><input
              id="mInt_input"
              type="text"
              name="mInt"
              placeholder="mInt" /><input
              id="dlNum_input"
              type="text"
              name="dlNum" 
              placeholder="dlNum"/>
            <input type="submit" value="Search" id="searchButton" />
        </form>

        <p> </p>

        <div id="tableDiv">{{susStuff}}</div>

	</body>
	<script src="app.js"></script> 
</html>
