<!DOCTYPE html>
<html lang="span">
	<head>
		<meta charset="UTF-8">
		<title>The Offenders</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
        <h1>Vehicles</h1>

        <form method="post">
            <input
              id="vehicle_ID_input"
              type="text"
              name="vehicle_ID"
              placeholder="vehicle_ID" /><input
              id="make_input"
              type="text"
              name="make"
              placeholder="make" /><input
              id="model_input"
              type="text"
              name="model"
              placeholder="model" /><input
              id="plateNum_input"
              type="text"
              name="plateNum"
              placeholder="plateNum" /><input
              id="color_input"
              type="text"
              name="color"
              placeholder="color" />
            <input type="submit" value="Search" id="searchButton" />
        </form>

        <div id="tableDiv">{{susStuff}}</div>

	</body>
	<script src="app.js"></script> 
</html>
